*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    /* background-color: rgb(55, 37, 63); */
    color: white;
    height: 100%;
}

#app{
    height: 100%;
    background-image: url('../images/6.jpg');
    background-size: cover;
}

main,.container{
    height: 100%;
}

.hangman-visualization-panel{

    height: 80%;
}

.user-interactions-panel{

    background-color: rgba(0, 122, 141, 0.13);
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
}

.alpha-box-template{
    border: 5px solid rgb(54, 28, 18);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin: 1rem 1.5rem;
    background-color: rgba(0, 213, 255, 0.23);
    font-weight: bold;
    font-size: 24px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-score{
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem 2rem;
    width: 200px;
    font-size: 32px;
    text-align: center;
    border-bottom-left-radius: 10%;
    background-color: rgba(0, 0, 0, 0.377);
    color: rgb(77, 157, 161);
}

.game-message{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    padding: 2.5rem 4rem;
    font-size: 38px;
    border-radius: 10%;
    opacity: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.377);
    text-align: center;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fadeIn{
    opacity: 1 !important;
    top: 50%;
    transform: translateY(-50%) translateX(-50%) !important;
}